<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>404</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/stisla/modules/bootstrap/css/bootstrap.min.css?v=4.1.3">
  <link rel="stylesheet" href="/stisla/modules/fontawesome/css/all.min.css?v=5.5.0">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="/stisla/css/style.min.css?v=2.2.0">
  <link rel="stylesheet" href="/stisla/css/components.min.css">

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="page-error">
          <div class="page-inner">
            <h1>404</h1>
            <div class="page-description">
              The page you were looking for could not be found.
            </div>
          </div>
        </div>
        <div class="simple-footer mt-5">
          Copyright &copy; Musa Sutisna 2019
          <br/>
          Themes By Stisla
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="/stisla/modules/jquery.min.js?v=3.2.1"></script>
  <script src="/stisla/modules/popper.js?v=1.13.0"></script>
  <script src="/stisla/modules/tooltip.js?v=1.13.0"></script>
  <script src="/stisla/modules/bootstrap/js/bootstrap.min.js?v=4.1.3"></script>
  <script src="/stisla/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/stisla/modules/moment.min.js"></script>
  <script src="/stisla/js/stisla.js"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="/stisla/js/scripts.js?v=2.2.0"></script>
</body>
</html>