<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title><%= template.title; %></title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/stisla/modules/bootstrap/css/bootstrap.min.css?v=4.1.3">
  <link rel="stylesheet" href="/stisla/modules/fontawesome/css/all.min.css?v=5.5.0">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="/stisla/css/style.min.css?v=2.2.0">
  <link rel="stylesheet" href="/stisla/css/components.min.css">

  <%- include('head/' + template.name); %>

</head>

<body>
  <div id="main">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
            <div class="login-brand">
              <img src="/images/micro-blog.svg" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <%- include(`content/${template.name}`); %>

            <div class="simple-footer">
              Copyright &copy; Micro Blog 2019
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="/stisla/modules/jquery.min.js?v=3.2.1"></script>
  <script src="/stisla/modules/popper.js?v=1.13.0"></script>
  <script src="/stisla/modules/tooltip.js?v=1.13.0"></script>
  <script src="/stisla/modules/bootstrap/js/bootstrap.min.js?v=4.1.3"></script>
  <script src="/stisla/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/stisla/modules/moment.min.js"></script>
  <script src="/stisla/js/stisla.js"></script>

  <%- include('footer/' + template.name); %>
  
  <!-- Template JS File -->
  <script src="/stisla/js/scripts.js?v=2.2.0"></script>
</body>
</html>