<!-- Page Header -->
<header id="homeHeader" class="masthead" style="background-image: url('/clean-blog/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Micro Blog</h1>
          <span class="subheading">web app to easy blogging</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div id="homeList" class="container">
  <div class="row">
    <div id="homeListContainer" class="col-lg-8 col-md-10 mx-auto">
      <!-- fill with list posts -->
    </div>
  </div>
  <div class="row">
    <div id="homeListPages" class="col-lg-8 col-md-10 mx-auto">
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary btn-sm float-left" href="javascript:void(0)" data-button="home" data-offset="0">&larr; Newer Posts</a>
        <a class="btn btn-primary btn-sm float-right" href="javascript:void(0)" data-button="home" data-offset="0">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>