<!-- Page Header -->
<header id="post-viewHeader" class="masthead" style="background-image: url('/clean-blog/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 data-text="post">Title</h1>
          <h2 class="subheading" data-text="post">Subtitle</h2>
          <span class="meta" data-text="post">Posted by
            <a href="#">Author</a>
            on Month Day, Year</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article id="post-viewContent">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" data-text="post">
        Content of post
      </div>
    </div>
  </div>
</article>