<div id="start" class="card card-primary">
  <div class="card-body">
    <div class="row mt-4">
      <div class="col-12 col-lg-12">
        <div class="wizard-steps">
          <div class="wizard-step wizard-step-active">
            <div class="wizard-step-icon">
              <i class="far fa-dot-circle"></i>
            </div>
            <div class="wizard-step-label">
              Start
            </div>
          </div>
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="wizard-step-label">
              Mongo
            </div>
          </div>
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="far fa-user"></i>
            </div>
            <div class="wizard-step-label">
              User Admin
            </div>
          </div>
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="far fa-check-circle"></i>
            </div>
            <div class="wizard-step-label">
              Complete
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <p class="text-center">start setup system of microblog with create file environment.</p>
      </div>
    </div>

    <form id="startSetupForm" method="POST" action="#" class="wizard-content mt-2">
      <div class="wizard-pane">
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-lg-4 col-md-6 text-center">
            <button type="submit" class="btn btn-icon icon-right btn-primary" data-button="start">Start <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>