<div id="complete" class="card card-primary">
  <div class="card-body">
    <div class="row mt-4">
      <div class="col-12 col-lg-12">
        <div class="wizard-steps">
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="far fa-dot-circle"></i>
            </div>
            <div class="wizard-step-label">
              Complete
            </div>
          </div>
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="wizard-step-label">
              Mongo
            </div>
          </div>
          <div class="wizard-step">
            <div class="wizard-step-icon">
              <i class="far fa-user"></i>
            </div>
            <div class="wizard-step-label">
              User Admin
            </div>
          </div>
          <div class="wizard-step wizard-step-active">
            <div class="wizard-step-icon">
              <i class="far fa-check-circle"></i>
            </div>
            <div class="wizard-step-label">
              Complete
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <p class="text-center">setup process was completed now you can start server.</p>
      </div>
    </div>
  </div>
</div>